body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
}

.signup-page, .login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signupForm, #loginForm {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 10px 7px 29px 10px;
}

#loginForm {
    height: 200px;
}

.signup-page input, .login-page input {
    max-width: 300px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
    margin-bottom: 10px;
}

.signup-page label, .login-page label {
    display: block;
    margin-top: 10px;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.signup-page input:hover, .signup-page input:focus, .login-page input:hover, .login-page input:focus {
    outline: none;
    border-color: #05060f;
}

.signup-page label, .signup-page input:focus, .login-page label, .login-page input:focus {
    color: #05060fc2;
}

.signup-page button, .login-page button, .top-bar button {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.signup-page button, .login-page button {
    width: 80px
}

.formButton {
    align-self: center;
}

.page-sub {
    font-size: 20px;
    font-weight: lighter;
}

.signup-page button:hover, .login-page button:hover, .top-bar button:hover {
    background-color: #2c974b;
}

.signup-page button:active, .login-page button:active, .top-bar button:hover {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.page-title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.chat-container {
    display: flex;
    max-width: 800px;
    min-width: 800px;
    min-height: 500px;
    max-height: 500px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.users-list {
    flex: 1;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    background-color: #2ea44f;
    color: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.users-list-container {
    height: 100%;
    overflow-y: auto;
}

.users-list h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.users-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.user-item.active {
    background-color: #cdffd4;
    color: #4f4f4f;
    padding: 10px;
    border-radius: 5px;
}

.user-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-item span {
    font-weight: bold;
}

.separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.chat-area {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.message {
    margin-bottom: 5px;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.message p {
    padding: 0 12px;
    border-radius: 15px;
    word-wrap: break-word;
}

.user-item span.nbr-msg {
    margin-left: 10px;
    background-color: #fa946f;
    color: white;
    padding: 5px;
    width: 10px;
    border-radius: 50%;
    height: 10px;
}

.sender {
    background-color: #2ea44f;
    color: #fff;
    align-self: flex-end;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
}

.receiver {
    background-color: #ecf0f1;
    color: #333;
    align-self: flex-start;
}

.message-input {
    margin-top: auto;
    display: flex;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.message-input button {
    padding: 10px;
    border: none;
    background-color: #2ea44f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

a.logout {
    color: #fff;
    text-decoration: none;
}

.top-bar {
    width: 775px;
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#friendForm {
    display: flex;
    flex-direction: row;
}

.sub3 {
    font-size: 15px;
    font-weight: lighter;
}

.top-bar button {
    margin-left: 20px;
}

#messageForm {
    padding: 5px;
}